.footer {
  position: relative;
  display: block;
  display: inline-block;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
  text-align: center;
  vertical-align: top;
}

.copyright {
  height: auto;
  padding: 20px;
  font-size: 1.3rem;
  color: #4b5563;
}
