.color-mode-switch {
  position: absolute;
  top: 0.4rem;
  right: 2rem;
  display: flex;
  width: 135px;
  height: 45px;
  border: 1px solid #b6b6b6;
  border-radius: 3px;
}

.color-mode-switch-input {
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.color-mode-switch-label {
  align-items: center;
  justify-content: center;
  width: 45px;
  line-height: 45px;
  color: var(--color-title);
  border-right: 1px solid #b6b6b6;
}

input[type='radio']:checked + .color-mode-switch-label {
  color: var(--color-check-font);
  background-color: var(--color-check-bg);
}

input[type='radio']:focus + .color-mode-switch-label {
  outline: 2px solid var(--color-text);
}
